div.CategoryElement{
  border: 5px red solid;  
}

@media (prefers-reduced-motion: no-preference) {
  .CategoryElement{
    animation: border-change infinite 1s linear alternate;
  }
}
@keyframes border-change {
  from {
      border: 5px red solid;
  }
  to {
      border: 5px salmon solid;
  }
}