.iteminput{
    text-align: center;    
}
.itemform{
    margin: auto;
    width: 80vw;
    max-width: 600px;
    min-width: 250px;
    border: 1px solid navy;
}
input{
    margin-bottom: 40px;
    border: 1px solid navy;
}
input:hover, select:hover{
    border: 1px solid slateblue;
    background-color: navajowhite;
}
button {
    display:inline-block;
    border: 10px solid darkred;
    border-radius: 10px;
    color: navy;
    font-size: 2vh;
    background-color: salmon;
    box-sizing: border-box;    
    text-align: center;
    padding-top: calc((6vh - 2vh * 2) / 2);
    height: 6vh;
    margin: 2vh;
}

button:hover {
    cursor: grab;
}

label, input, select {
    display:block;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    margin-top: 2vh;
    text-align: center;
}

input, select {
    margin-bottom: 2vh;
    text-align: left;
}