.iteminput{
    text-align: center;    
}
.itemform{
    margin: auto;
    width: 200px;
    border: 1px solid navy;
}
input{
    margin-bottom: 40px;
    border: 1px solid navy;
}
input:hover{
    border: 1px solid slateblue;
}
button{
    width: 100%;
    height: 30px;
    background-color: salmon;
}