.kats{
    margin-left: 2vh;
    padding: 2vh;
    background-color: navajowhite;
    border-radius: 2vh;
    border: 10px solid darkred; 
}
.CategoryElement {
    margin: 2vh;
    display: inline-block;
    border-radius: 2vh;
    border: 2vh solid navy;
    background-color: navy;
    color: navajowhite;
}
.categoryName{    
    font-weight: bolder;
}
.categoryPrice{    
    text-align: right;
}
.categoryType{
    font-style: italic;
}