.navbar {
    background-color: salmon;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}
.cart {
    height: 50px;
    margin: 50px;
}
.logo {
    height: 80%;
    margin-top: 10%;
    margin-left: 10%;
    
}