.CategoryInput{
    border: 12px darkred;
}
.catform{
  margin: auto;
  width: 80vw;
  border: 1px solid navy;
  max-width: 600px;
  min-width: 250px;
}

.CategoryInput{
  text-align: center;  
}
.catform{
  margin: auto;
  width: 80vw;
  border: 1px solid navy;
}