.ese{
    margin: 20px;
    padding: 0px 10px;
    border: khaki 1px solid;
    box-shadow: 5px 5px saddlebrown;
}
.esemed{
    padding: 10px;
    background-color: khaki;
}
.asi{
    display: flex;
    border: saddlebrown 1px solid;
    background-color: salmon;
}
.itemName{
    color: navy;
}
.itemPrice{
    text-decoration-line: underline;
}
.itemCategory{
    font-style: italic;
}
